# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/

# Build and Dist
build/
dist/
*.egg-info/

# Logs
*.log
